<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.zozocar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ChangePasswordActivity"></activity>
        <activity android:name=".view.activity.EditPreferencesActivity" />
        <activity android:name=".view.activity.AddEmailActivity" />
        <activity android:name=".view.activity.AddMobileActivity" />
        <activity android:name=".view.activity.SearchBrandActivity" />
        <activity android:name=".view.activity.AddCarRegisterDate" />
        <activity android:name=".view.activity.SelectCarColourActivity" />
        <activity android:name=".view.activity.SelectCarTypeActivity" />
        <activity android:name=".view.activity.SelectModelActivity" />
        <activity android:name=".view.activity.SelectCarBrandActivity" />
        <activity android:name=".view.activity.AddMyCarActivity" />
        <activity android:name=".view.activity.UserActivity" />
        <activity android:name=".view.activity.SelectCityActivity" />
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.RideListForYouActivity" />
        <activity android:name=".view.activity.DroppointActivity" />
        <activity android:name=".view.activity.EditProfileActivity" />
        <activity android:name=".view.activity.HomeActivity" />
        <activity
            android:name=".view.activity.RideDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".view.activity.Recommended_PriceActivity" />
        <activity android:name=".view.activity.SignInSignUpActvity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".view.activity.PickUpActivity" />
        <activity android:name=".view.activity.SelectDateActivity" />
        <activity android:name=".view.activity.Q1Activity" />
        <activity android:name=".view.activity.Q2Activity" />
        <activity android:name=".view.activity.Q3Activity" />
        <activity android:name=".view.activity.PublishReturnTripActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDsz_iONrW-e1dp7ODy4_V8uv7pq4ndNH8" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>